.done{
  background-color: rebeccapurple;
  border-radius: 50px;
  color: darkorange;
padding: 30px;
}
li{
  color: whitesmoke;
  background-color: darkred;
  
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: black;
}

.completed{
  text-decoration: line-through;
}